<section class="py-16">
	<div class="product container mx-auto xl:w-1/2">
		<div id="addProduct" class="mt-4">
			<button
				class="btn-primary modal-product-open rounded-full mb-4 text-white font-bold"
				id="addProductBtn"
				name="addProductBtn"
				type="button"
				onclick="handleProductForm.reset()"
			>
				+ Adicionar Produto
			</button>
		</div>
		<form
			action="/admin/products"
			method="POST"
			class=""
			name="searchProductForm"
			id="searchProductForm"
		>
			<div class="firstline">
				<div class="form-control">
					<label for="searchProductName">Nome:</label>
					<input
						type="text"
						name="searchProductName"
						id="searchProductName"
						placeholder="Nome do Produto"
						class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
					/>
				</div>
			</div>

			<div id="productSearch-btn" class="mt-4">
				<button
					class="btn-primary rounded-full mb-4 text-white font-bold"
					id="searchProductBtn"
					name="searchProductBtn"
					type="button"
				>
					Buscar Produto
				</button>
			</div>
		</form>
		<table class="table productstable">
			<thead>
				<tr>
					<th class="px-4 py-2 text-left">Produto</th>
					<th class="px-4 py-2 text-left">Nome</th>
					<th class="px-4 py-2 text-left" style="text-align-last: justify">
						Un. Venda - Preço - Ativo
					</th>
					<th class="px-4 py-2 text-left">Categoria</th>
					<th class="px-4 py-2 text-left">Editar</th>
				</tr>
			</thead>
			<tbody id="productTableBody">
				<% products.forEach(function (product){%>

				<tr>
					<td class="id" style="display: none"><%= product._id%></td>
					<td class="productData">
						<img class="h-12 mx-auto" src="<%= product.image %>" alt="" />
					</td>
					<td class="productData">
						<h2 class="text-lg"><%= product.name %></h2>
					</td>
					<td class="productData">
						<% product.saleUnits.forEach(function (saleUnit){%>
						<div class="flex justify-between">
							<button type="button" class="size px-4 mx-4 rounded-full text-xs">
								<%= saleUnit.saleUnit %>
							</button>

							<span class="text-md"
								><%= saleUnit.price.toLocaleString('pt-BR', { style: 'currency',
								currency: 'BRL' }) %></span
							>
							<label class="switch-small">
								<input type="checkbox" <%= saleUnit.active === true ? 'checked'
								: ''%> />
								<span class="slider-small round-small"></span>
							</label>
						</div>
						<% })%>
					</td>

					<td class="productData">
						<span class="text-lg"><%= product.categories %></span>
					</td>

					<td>
						<button type="button">
							<i
								id="editProduct"
								name="editProduct"
								class="editProduct fas fa-edit"
							></i>
						</button>
					</td>
				</tr>
				<% })%>
			</tbody>
		</table>
	</div>
</section>
<div
	class="productModal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
>
	<div
		class="modal-product-overlay absolute w-full h-full bg-gray-900 opacity-50"
	></div>

	<div
		class="modal-product-container bg-white m-0 rounded shadow-lg z-50 overflow-y-auto"
	>
		<!-- Add margin if you want to see some of the overlay behind the modal-->
		<div class="modal-product-content py-4 text-left px-6">
			<!--Title-->
			<div class="modaProductInputs">
				<div class="productInputModal">
					<!--Body-->
					<%- include('./productForm.ejs') %>
				</div>
			</div>
			<!--Footer-->
			<div class="flex justify-end pt-2"></div>
		</div>
	</div>
</div>
