<section class="py-16">
  <div class="product container mx-auto xl:w-1/2">
    <div id="addProduct" class="mt-4">
      <button
        class="btn-primary modal-open rounded-full mb-4 text-white font-bold"
        id="addProductBtn"
        name="addProductBtn"
        type="button"
        onclick="handleProductForm.reset()"
      >
        + Adicionar Produto
      </button>
    </div>
    <form
      action="/admin/products"
      method="POST"
      class=""
      name="searchProductForm"
      id="searchProductForm"
    >
      <div class="firstline">
        <div class="form-control">
          <label for="searchProductName">Nome:</label>
          <input
            type="text"
            name="searchProductName"
            id="searchProductName"
            placeholder="Nome do Produto"
            class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
          />
        </div>
      </div>

      <div id="productSearch-btn" class="mt-4">
        <button
          class="btn-primary rounded-full mb-4 text-white font-bold"
          id="searchProductBtn"
          name="searchProductBtn"
          type="button"
        >
          Buscar Produto
        </button>
      </div>
    </form>
    <table class="table productstable">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Produto</th>
          <th class="px-4 py-2 text-left">Nome</th>

          <th class="px-4 py-2 text-left">Tamanho</th>
          <th class="px-4 py-2 text-left">Preço</th>

          <th class="px-4 py-2 text-left">Categoria</th>
        </tr>
      </thead>
      <tbody id="productTableBody">
        <% products.forEach(function (product){%>
        <tr>
          <td class="productData">
            <img class="h-12 mx-auto" src="/img/<%= product.image %>" alt="" />
          </td>
          <td class="productData">
            <h2 class="text-lg"><%= product.name %></h2>
          </td>
          <td class="productData">
            <% product.saleSizes.forEach(function (saleSize){%>
            <div>
              <button
                type="button"
                class="size px-4 mx-4 rounded-full uppercase text-xs"
              >
                <%= saleSize.saleSize %>
              </button>

              <span class="text-md">R$ <%= saleSize.price %></span>
            </div>
            <% })%>
          </td>

          <td class="productData">
            <span class="text-lg"><%= product.category %></span>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</section>
<div
  class="
    modal
    opacity-0
    pointer-events-none
    fixed
    w-full
    h-full
    top-0
    left-0
    flex
    items-center
    justify-center
  "
>
  <div
    class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"
  ></div>

  <div
    class="modal-container bg-white m-0 rounded shadow-lg z-50 overflow-y-auto"
  >
    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <!--Title-->
      <div class="modalinputs">
        <div class="inputModal">
          <!--Body-->

          <form name="handleProductForm" id="handleProductForm">
            <input id="id" name="id" value="" style="display: none" />
            <div class="firstline">
              <div class="form-control">
                <label for="name">Nome:</label>
                <input
                  id="name"
                  name="name"
                  class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  value=""
                  placeholder="Nome do Produto"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-control">
                <label for="phone">Telefone:</label>
                <input
                  id="phone"
                  type="text"
                  value=""
                  name="phone"
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  placeholder="Telefone"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
            </div>
            <div class="secondline">
              <div class="form-control">
                <label for="zipcode">Cep:</label>
                <input
                  id="zipcode"
                  type="text"
                  value=""
                  name="zipcode"
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="number"
                  placeholder="Cep"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>

              <button
                class="btn-primary rounded-full text-white font-bold"
                id="searchzipcodebtn"
                name="searchzipcodebtn"
                type="button"
              >
                Buscar Cep
              </button>
              <a href="descobrir-cep">Nao sei meu Cep</a>
            </div>
            <div class="thirdline">
              <div class="form-control">
                <label for="street">Rua:</label>
                <input
                  id="street"
                  name="street"
                  class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  value=""
                  placeholder="Rua"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-control">
                <label for="houseNumber">Número:</label>
                <input
                  id="houseNumber"
                  name="houseNumber"
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="number"
                  value=""
                  placeholder="Num"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
            </div>
            <div class="fourthline">
              <div class="form-control">
                <label for="district">Bairro:</label>
                <input
                  id="district"
                  name="district"
                  value=""
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  placeholder="Bairro"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-control">
                <label for="city">Cidade:</label>
                <input
                  id="city"
                  name="city"
                  value=""
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  placeholder="Cidade"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
              <div class="form-control">
                <label for="state">Estado:</label>
                <input
                  id="state"
                  name="state"
                  value=""
                  class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                  type="text"
                  placeholder="Estado"
                />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small></small>
              </div>
            </div>
            <div class="form-control">
              <label for="reference">Ponto de referência:</label>
              <input
                id="reference"
                name="reference"
                value=""
                class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
                type="text"
                placeholder="Ponto de referencia"
              />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
              <small></small>
            </div>

            <h2
              id="small-message"
              name="small-message"
              class="small-message text-md font-bold mb-4"
            ></h2>

            <button
              id="saveClientBtn"
              class="
                btn-primary
                rounded-full
                px-4
                py-2
                mx-4
                text-white
                font-bold
              "
            >
              Salvar
            </button>
            <button type="button" class="modal-close">Fechar</button>
          </form>
        </div>
      </div>
      <!--Footer-->
      <div class="flex justify-end pt-2"></div>
    </div>
  </div>
</div>
