<section class="cart py-16">
  <% if(session.cart && session.cart.totalPrice !== 0) { %>
  <div class="order container mx-auto xl:w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="/img/cart-black.png" alt="" />
      <h1 class="font-bold ml-4 text-2xl">Resumo do pedido</h1>
    </div>
    <div class="product-list">
      <% for(let product of Object.values(session.cart.items)) { %>
      <div
        id="productData<%= product.item._id %>"
        class="flex items-center my-8"
      >
        <img class="w-24" src="/img/<%= product.item.image %>" alt="" />
        <div class="flex-auto ml-4">
          <h1 style="width: 150px" ><%= product.item.name %></h1>
          
        </div>
        <div class="flex-auto">
          <button
            data-cart="<%= JSON.stringify(product.item) %>"
            class="
              removeItem
              btn-primary
              mx-2
              px-4
              text-white
              rounded-md
              font-bold
            "
            type="button"
          >
            Remover
          </button>
          <input type="number" 
            data-item='<%= JSON.stringify(product.item) %>'
            min="0"
            value="<%= product.itemTotalQty %>" style="width: 3rem" class="cartItemQuantity border-gray-500 w-12 mx-2 text-center">
          </input>
          <span class="text-sm mx-2"><%= product.item.saleUnit.saleUnit %></span>
          <span class="text-sm mx-2">x</span>        
          <span class="text-sm mx-2"><%= product.item.saleUnit.price.toLocaleString('pt-BR', { style: 'currency',
            currency: 'BRL' }) %></span>
        </div>
        <span
          id="cartItemTotal<%= product.item._id %>"
          class="font-bold text-lg"
          ><%= (product.item.saleUnit.price * product.itemTotalQty).toLocaleString('pt-BR', { style: 'currency',
          currency: 'BRL',
          minimumFractionDigits: 2,
          maximumFractionDigits: 2
           }) %></span
        >
      </div>
      <% } %>
    </div>
    <hr />
    <div class="flex justify-between">
      <div class="flex-1 flex-col py-4">
        <span  class="text-lg font-bold">Observações</span>
        <textarea id="observation" name="observation" form="orderForm" class="h-24 w-full"></textarea>
      </div>
      <div class="text-right py-4">
        <div class="justify-between grid-cols-2 align-center m-0">
          <div>
            <span class="text-lg font-bold">Total do pedido:</span>
            <span id="amount" class="amount text-2xl font-bold ml-2 mr-0"
              ><%= session.cart.totalPrice.toLocaleString('pt-BR', { style: 'currency',
              currency: 'BRL' }) %></span
            >
          </div>
        </div>

        <div class="paymentMethod">
          <select
          form="orderForm"
            id="paymentMethod"
            name="paymentMethod"
            class="
              ml-auto
              mr-0
              bg-white
              border border-gray-400
              hover:border-gray-500
              mb-4
              px-4
              py-2
              pr-8
              rounded
              leading-tight
              focus:outline-none
              focus:shadow-outline
            "
          >
            <option value="currency">Pagar em dinheiro</option>
            <option value="credit-card">Pagar com cartão</option>
          </select>
        </div>
        <div id="currencyChange" class="currencyChange flex flex-col">
          <span class="text-lg color-primary"
            >Precisa de troco? pra quanto?</span
          >
          <span class="text-sm mb-4">Se não precisa, só deixar em branco.</span>
          <input
          name="needChange"
          form="orderForm"
          class="border border-gray-400 rounded-md pl-6 px-2 py-2 w-1/2 mr-0 ml-auto"
          type="number"
          placeholder="R$ 0,00"
          max="200"
          />
        </div>
      </div>
    </div>

    <% if(user) { %>
    <div>
      <form
        action="/customer/order"
        method="POST"
        class=""
        name="orderForm"
        id="orderForm"
      >
        <div class="firstline">
          <input id="id" type="hidden" name="id" value="<%= user._id%>" />

          <div class="form-control">
            <label for="username">Nome:</label>

            <input
              id="username"
              name="username"
              class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              value="<%= user.username%>"
              placeholder="Nome"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <div class="form-control">
            <label for="phone">Telefone:</label>
            <input
              id="phone"
              type="text"
              value="<%= user.phone%>"
              name="phone"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              placeholder="Telefone"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
        </div>
        <div class="secondline">
          <div class="form-control">
            <label for="zipcode">Cep:</label>
            <input
              id="zipcode"
              type="text"
              value="<%= user.address.zipcode%>"
              name="zipcode"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="number"
              placeholder="Cep"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>

          <button
            class="btn-primary rounded-full text-white font-bold"
            id="searchzipcodebtn"
            name="searchzipcodebtn"
            type="button"
          >
            Buscar Cep
          </button>
          <a href="descobrir-cep">Nao sei meu Cep</a>
        </div>
        <div class="thirdline">
          <div class="form-control">
            <label for="street">Rua:</label>
            <input
              id="street"
              name="street"
              class="border pl-6 mr-10 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              value="<%= user.address.street%>"
              placeholder="Rua"
            />

            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <div class="form-control">
            <label for="houseNumber">Número:</label>
            <input
              id="houseNumber"
              name="houseNumber"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="number"
              value="<%= user.address.houseNumber%>"
              placeholder="Num"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
        </div>
        <div class="fourthline">
          <div class="form-control">
            <label for="district">Bairro:</label>
            <input
              id="district"
              name="district"
              value="<%= user.address.district%>"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              placeholder="Bairro"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <div class="form-control">
            <label for="city">Cidade:</label>
            <input
              id="city"
              name="city"
              value="<%= user.address.city%>"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              placeholder="Cidade"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
          <div class="form-control">
            <label for="state">Estado:</label>
            <input
              id="state"
              name="state"
              value="<%= user.address.state%>"
              class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
              type="text"
              placeholder="Estado"
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small></small>
          </div>
        </div>
        <div class="form-control">
          <label for="reference">Ponto de referência:</label>
          <input
            id="reference"
            name="reference"
            value="<%= user.address.reference%>"
            class="border pl-6 px-4 py-2 border-gray-400 rounded-md"
            type="text"
            placeholder="Ponto de referencia"
          />
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small></small>
        </div>
        <div class="form-control">
          <input
            id="entryPointValue"
            name="entryPointValue"
            value=""
            type="hidden"
          />
        </div>
     
        <div id="order-btn" class="mt-4">
          <button
            id="ordernowbtn"
            class="btn-primary rounded-full text-white font-bold"
            type="submit"
          >
            Peça Agora
          </button>
        </div>
      </form>
    </div>
    <% } else { %>
    <a
      href="/login"
      class="
        inline-block
        cursor-pointer
        btn-primary
        px-6
        py-2
        rounded-full
        text-white
        font-bold
        mt-6
      "
      >Entrar para continuar</a
    >
    <% } %>
  </div>
  <% } else { %>
  <div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Carrinho vazio 😕</h1>
      <p class="text-gray-500 text-lg mb-12">
        Você ainda não pediu nada. <br />
        Para fazer seu pedido, clique em Menu , escolha seu item e clique em
        "Adicionar".
      </p>
      <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart" />
      <a
        href="/"
        class="
          inline-block
          px-6
          py-2
          rounded-full
          btn-primary
          text-white
          font-bold
          mt-12
        "
        >Voltar</a
      >
    </div>
  </div>
  <% } %>
</section>
